{
  "presets": [
    [
      "env",
      {
        "useBuiltIns": "usage",
        "loose": true,
        "modules": false
      }
    ],
    "react",
    "stage-2"
  ],
  "env": {
    "development": {
      "plugins": [
        "react-hot-loader/babel"
      ]
    },
    "test": {
      "plugins": [
        "transform-es2015-modules-commonjs",
        "dynamic-import-node"
      ]
    }
  }
}
